function setup_dotfiles {
    cwd="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
    ln -sf ${cwd}/.bash_profile ~/.bash_profile
    ln -sf ${cwd}/.bashrc ~/.bashrc
    ln -sf ${cwd}/.bash_prompt ~/.bash_prompt
    ln -sf ${cwd}/.aliases ~/.aliases
    ln -sf ${cwd}/.exports ~/.exports
    ln -sf ${cwd}/.functions ~/.functions
    ln -sf ${cwd}/.paths ~/.paths
    ln -sf ${cwd}/.vimrc ~/.vimrc
    ln -sf ${cwd}/.vim ~/.vim
}

function findit {
    find . -exec grep -nHi $1 {} \; -maxdepth $2;
    }

function replaceit {
    EXT=$1
    FIND=$2
    REPLACE=$3
    for i in `find . -name "$EXT"`
    do
        echo "Processing $i"
        chmod +w $i
        sed "s/$FIND/$REPLACE/g" $i > TEMPFILE
        mv TEMPFILE $i
    done
    }
